<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About this app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Books & Movies</ion-card-title>
      <ion-card-subtitle>VERSION 1.0</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Books & Movies shows best seller books of the week grouped by category and reviews of selected movie from New York Times API</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>API <ion-icon name="cloud-download-outline" size="small"></ion-icon></ion-card-title>
      <ion-card-subtitle>New York Times</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="small" fill="outline" color="dark" href="https://developer.nytimes.com/apis" target="_blank">Visit web</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>GitHub <ion-icon name="logo-github" size="small"></ion-icon></ion-card-title>
      <ion-card-subtitle>davmm96</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="small" fill="outline" color="dark" href="https://github.com/davmm96/BooksFilms" target="_blank">Visit repository</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
