<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About this app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Books & Movies</ion-card-title>
      <ion-card-subtitle>VERSION 1.0</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Books & Movies shows Best Sellers of the week by category and reviews of selected movies from NY Times API</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>API</ion-card-title>
      <ion-card-subtitle>NY Times</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <a href="https://developer.nytimes.com/apis" target="_blank">Visit web</a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>GitHub <ion-icon name="logo-github"></ion-icon></ion-card-title>
      <ion-card-subtitle>davmm96</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <a href="https://github.com/davmm96/BooksFilms" target="_blank">Code</a>
    </ion-card-content>
  </ion-card>
</ion-content>
