<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment scrollable
                  mode="ios"
                  color="dark"
                  swipe-gesture
                  (ionChange)="cambioTipo($event)">
      <ion-segment-button value="books">
        Books
      </ion-segment-button>
      <ion-segment-button value="movies">
        Movies
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <p *ngIf="favoritesService.favBooks.length === 0 && type === 'books'">No books added to favorites</p>
  <p *ngIf="favoritesService.favMovies.length === 0 && type === 'movies'">No movies added to favorites</p>
  
  <app-books *ngIf="favoritesService.favBooks.length > 0 && type === 'books'"
    [books] = "favoritesService.favBooks"
    [isFavorite]="true"></app-books>

  <app-movies *ngIf="favoritesService.favMovies.length > 0 && type === 'movies'"
      [movies] = "favoritesService.favMovies"
      [isFavorite]="true"></app-movies>
</ion-content>
